span.icon_up {
  background-position: -298px -145px;
  width: 10px;
  height: 12px;
  display: inline-block;
  margin-right: 8px;
}
.sprite {
  background-image: url('https://cafefcdn.com/web_images/sprite_cafef_v18.png') !important;
  background-repeat: no-repeat;
  background-size: auto !important;
}
.up {
  color: #128f0c;
}
.down {
  color: #c90000;
}
.normal {
  color: #f90;
}
span.icon_down {
  background-position: -298px -162px;
  width: 10px;
  height: 12px;
  display: inline-block;
  margin-right: 8px;
}
