
<div id="content">
  <section class="has-divider">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink (click)="onGetListRsi()">rsi</a>
              <ng-template ngbNavContent>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Mã</th>
                      <th scope="col">Giá</th>
                      <th scope="col">RSI</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let st of stocks; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>{{st.symbol}}</td>
                      <td>
                        <ng-container *ngIf="st.change > 0">
                          <div class="up">
                            <span class="icon_up sprite"></span>
                            {{ st.priceClose | number}}
                            ({{ st.change | number}})
                          </div>

                        </ng-container>
                        <ng-container *ngIf="st.change < 0">
                          <div class="down">
                            <span class="icon_down sprite"></span>
                            {{ st.priceClose | number}}
                            ({{ st.change | number}})
                          </div>

                        </ng-container>
                        <ng-container *ngIf="st.change === 0">
                          <div class="normal">
                            <span class="icon_down sprite"></span>
                            {{ st.priceClose | number}}
                            ({{ st.change | number}})
                          </div>

                        </ng-container>

                      </td>
                      <td>{{st.rsi}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink (click)="getListVolUp()">Vol > tb 20p</a>
              <ng-template ngbNavContent>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Mã</th>
                      <th scope="col">Giá</th>
                      <th scope="col">RSI</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let st of volstocks; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>{{st.symbol}}</td>
                      <td>
                        <ng-container *ngIf="st.change > 0">
                          <div class="up">
                            <span class="icon_up sprite"></span>
                            {{ st.priceClose | number}}
                            ({{ st.change | number}})
                          </div>

                        </ng-container>
                        <ng-container *ngIf="st.change < 0">
                          <div class="down">
                            <span class="icon_down sprite"></span>
                            {{ st.priceClose | number}}
                            ({{ st.change | number}})
                          </div>

                        </ng-container>
                        <ng-container *ngIf="st.change === 0">
                          <div class="normal">
                            <span class="icon_down sprite"></span>
                            {{ st.priceClose | number}}
                            ({{ st.change | number}})
                          </div>

                        </ng-container>

                      </td>
                      <td>{{st.rsi}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink (click)="getListThrePrice()">Giảm 3 phiên </a>
              <ng-template ngbNavContent>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Mã</th>
                      <th scope="col">Giá</th>
                      <th scope="col">RSI</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let st of threredstocks; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>{{st.symbol}}</td>
                      <td>
                        <ng-container *ngIf="st.change > 0">
                          <div class="up">
                            <span class="icon_up sprite"></span>
                            {{ st.priceClose | number}}
                            ({{ st.change | number}})
                          </div>

                        </ng-container>
                        <ng-container *ngIf="st.change < 0">
                          <div class="down">
                            <span class="icon_down sprite"></span>
                            {{ st.priceClose | number}}
                            ({{ st.change | number}})
                          </div>

                        </ng-container>
                        <ng-container *ngIf="st.change === 0">
                          <div class="normal">
                            <span class="icon_down sprite"></span>
                            {{ st.priceClose | number}}
                            ({{ st.change | number}})
                          </div>

                        </ng-container>

                      </td>
                      <td>{{st.rsi}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="mt-2"></div>

          <pre>Active: {{ active }}</pre>

        </div>
      </div>
    </div>
  </section>

</div>
