<div id="content">
  <section class="has-divider">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              Broker
            </div>
            <div class="panel-body">
              <table class="table" id="trader">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Mã cổ phiếu</th>
                    <th scope="col">Giá (vnd)</th>
                    <th scope="col">Vote</th>
                  </tr>
                </thead>

                <tbody>
                  <ng-container *ngFor="let stock of topSymbols; let i = index">
                    <tr data-toggle="collapse" class="accordion-toggle" [ngClass]="{'even': 0 === i % 2}"
                      (click)="collapse.toggle()">
                      <td>
                        <i class="fa fa-chevron-down"></i>
                      </td>
                      <td>
                        {{ stock.code }}
                      </td>
                      <ng-container *ngIf="stock.percent > 0">
                        <td class="up">
                          <span class="icon_up sprite"></span>
                          {{ stock.curPrice | number}}
                          ({{ stock.percent | number}}%)
                        </td>
                      </ng-container>
                      <ng-container *ngIf="stock.percent < 0">
                        <td class="down">
                          <span class="icon_down sprite"></span>
                          {{ stock.curPrice | number}}
                          ({{ stock.percent | number}}%)
                        </td>
                      </ng-container>
                      <ng-container *ngIf="stock.percent === 0">
                        <td class="normal">
                          <span class="icon_down sprite"></span>
                          {{ stock.curPrice | number}}
                          ({{ stock.percent | number}}%)
                        </td>
                      </ng-container>
                      <td>{{ stock.recommendations | number }}</td>
                    </tr>
                    <tr>
                      <td colspan="12" class="hiddenRow">
                        <div class="accordian-body collapse" #collapse="ngbCollapse"
                          [(ngbCollapse)]="stock.isCollapsed">
                          <table class="table table-info mb-0">
                            <!-- <thead>
                              <tr class="info">
                                <th>Name</th>
                                <th>Rate</th>
                                <th>Giá</th>
                                <th>Nội dung</th>
                              </tr>
                            </thead> -->
                            <tbody>
                              <tr *ngFor="let de of stock.detail">
                                <td>{{de.tName}}</td>
                                <td>{{de.content}}</td>
                                <td>
                                  <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="showModalBroferAnswer(stock.code, de)">reply</mat-icon>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>


</div>
