<div id="content">
  <section class="has-divider">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              Trader
            </div>
            <div class="panel-body">
              <table class="table" id="trader">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Mã cổ phiếu</th>
                    <th scope="col">Ngày hỏi</th>
                    <th scope="col">Nội dung</th>
                  </tr>
                </thead>

                <tbody>
                  <ng-container *ngFor="let question of topQuestions; let i = index">
                    <tr data-toggle="collapse" class="accordion-toggle" [ngClass]="{'even': 0 === i % 2}"
                      (click)="collapse.toggle()">
                      <td>
                        <i class="fa fa-chevron-down"></i>
                      </td>
                      <td>
                        {{ question.code }}
                      </td>

                      <td>{{ question.creationTime }}</td>
                      <td>{{ question.question }}</td>
                    </tr>
                    <tr>
                      <td colspan="12" class="hiddenRow">
                        <div class="accordian-body collapse" #collapse="ngbCollapse"
                          [(ngbCollapse)]="question.isCollapsed">
                          <table class="table table-info mb-0">
                            <!-- <thead>
                              <tr class="info">
                                <th>Name</th>
                                <th>Rate</th>
                                <th>Giá</th>
                                <th>Nội dung</th>
                              </tr>
                            </thead> -->
                            <tbody>
                              <tr *ngFor="let de of question.detail">
                                <td>{{de.bName}}</td>
                                <td>{{de.bRate}}</td>
                                <td>{{de.price * 1000 | number}}đ</td>
                                <td>{{de.content}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="has-divider">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          Câu hỏi
        </div>
        <div class="panel-body">
          <form [formGroup]="frm">
            <mat-form-field class="w-100" appearance="legacy">
              <mat-label>Mã cổ phiếu</mat-label>
              <input type="text" placeholder="Mã cổ phiếu"  matInput formControlName="code"
                [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let symbol of filteredOptions | async" [value]="symbol.symbol">
                  <span class="mr-3 symbol-color">
                    {{symbol.symbol}}
                  </span>
                  <span>
                    {{symbol.name}}
                  </span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <quill-editor [styles]="{'height': '300px'}" formControlName="question"></quill-editor>
            <div class="mt-2">
              <button mat-raised-button color="primary" [disabled]="!frm.valid" (click)="save()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
