
<div class="container">
  <div class="authBlock py-5">
    <div
    class="drop-container"
    ngFileDrop
    [options]="options"
    (uploadOutput)="onUploadOutput($event)"
    [uploadInput]="uploadInput"
    [ngClass]="{ 'is-drop-over': dragOver }"
  >
    <h1>Drag &amp; Drop</h1>
  </div>

  <label class="upload-button">
    <input
      type="file"
      ngFileSelect
      [options]="options"
      (uploadOutput)="onUploadOutput($event)"
      [uploadInput]="uploadInput"

    />
    or choose file(s)
  </label>

  <button type="button" class="start-upload-btn" (click)="startUpload()">
    Start Upload
  </button>

    <div class="form-group">
      <label class="d-block">
        <input type="text" class="form-control" [placeholder]="'Họ và tên'" #username>
      </label>
    </div>
    <!-- <div class="form-group">
      <label class="d-block">
        <input type="text" class="form-control" [placeholder]="'Password'"  #password>
      </label>
    </div> -->
    <div class="form-group">
      <button class="btn btn-primary btn-block btn-raised" type="button" >
        <span>Cập nhật</span>
      </button>
    </div>
  </div>

</div>
